<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
     {{>header}}
    <p>{{message}}</p>
    <p>Its as simple as eating two Wraps! :D  Just type in the location for which you want to know the weather and hit enter! <br>
      Make sure you spell the name correctly, Because I dont really know whats happening in "Neu Yark!". Happy Searching!
    </p>
    
    </div>
   
     {{>footer}}
</body>
</html>